


/*figure img {
	width: 100%;
}*/

/*figcaption {
	text-align: right;
}*/

#images {
	text-align: center;
	display: flex;
	/*min-height: 100vh;*/
	flex-wrap: wrap;
	justify-content: center;
	/*display: inline-block;*/

}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-weight: lighter;
	font-size: 3em;
}

a:link, a:visited {
	color: black;
	text-decoration: none;

}


a:hover{
	color: grey;
	text-decoration: none;
}



/*img{
	display: inline-block;
}
*/
/*.backgroundImage {
	display: inline-block;
}*/

/*#images:hover {
	opacity: 0.7;
}*/

/*ul {
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
	align-content: center;
}*/
